@font-face {
    font-family: 'PPNeueWorld-CondensedRegular';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-CondensedRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-CondensedRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-CondensedRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-CondensedRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-CondensedRegular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-ExtendedThin';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-ExtendedThin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-ExtendedThin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-ExtendedThin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-ExtendedThin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-ExtendedThin.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-SemiCondensedUltrabold';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiCondensedUltrabold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiCondensedUltrabold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiCondensedUltrabold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiCondensedUltrabold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiCondensedUltrabold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-SemiExtendedBlack';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiExtendedBlack.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiExtendedBlack.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiExtendedBlack.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiExtendedBlack.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SemiExtendedBlack.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-SuperCondensedLight';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SuperCondensedLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SuperCondensedLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SuperCondensedLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SuperCondensedLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-SuperCondensedLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueWorld-Thin';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/PPEiko/PPNeueWorld-Thin.ttf') format("truetype");
    font-display: swap;
}